.cabecalho{
    position: absolute;
    z-index: 1;
    background-color: #812821;
    color: #fff;
    width: 100%;
    height: auto;
}

.cabecalho__nav, .cabecalho__ul{
    width: 100%;
    height: 100%;
}

.cabecalho__li{
    display: inline-block;
    margin: 1.5rem, 2rem;
    padding: 1rem;
}

.cabecalho__li--active{
    float: right
}